@model List<Location>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Forecast weather</h2>
    Select a city
    <select id="location" class="form-select mr-3">
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <button onclick="LoadForecastData()" class="btn btn-success  mr-3"> Show Forecast Data </button>
</div>

<div id="summary">
    <!--content goes here-->
</div>
<script>

    function LoadForecastData() {
        var selectedLocationId = $('#location').val();
        $.get("@GlobalConfig.ServerUrl/Home/GetForecastData?locationId=" + selectedLocationId, function (data, status) {
            $("#summary").html(data);
        });
    }

</script>